@page "/card/{id}"

@using GloomhavenAbilityManager.Data
@inject IAbilityCardService CardService

@if (card == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@card.Name (@ClassToString(card.Class) @card.Level)</p>
    <img src="@card.ImagePath" height="320" width="240">
}

@code {
    
    [Parameter]
    public string Id {get; set; } = "0";

    private AbilityCardInfo card;

    protected override async Task OnInitializedAsync()
    {
        if ( ! int.TryParse(Id, out int _id))
        {
            _id = 0;
        }

        card = await CardService.GetCardAsync(_id);
    }

    private string ClassToString(CharacterClass characterClass)
    {
        switch (characterClass)
        {
            case CharacterClass.Cragheart : return "Felsenherz";
            case CharacterClass.Tinkerer : return "Tüftler";
        }

        return characterClass.ToString();
    }
}
